/* undo browser defaults */


@font-face
{
    font-display: swap;
    font-family:"DejaVu Sans Mono";
    font-style: normal;
    font-weight: normal;
    src:url("fonts/DejaVuSansMono-webfont.woff");
}

:root
{
    font-family: "Hyperlegible", "DejaVu Sans Mono", monospace, sans-serif;
}

html *
{
    box-sizing: border-box;
    margin: 0;
}

table
{
    border-collapse: collapse;
}
