.menu
{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    position: relative;
    width: max-content;
}

.menu-content
{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.menu:hover .menu-content {
  display: block;
}

