/* specific to this site */

:root
{
    
    /* colors */
    --color-black: #000;
    --color-blue: #01b1af;
    --color-blue-dark: #017c7a;
    --color-gray-dark: #222;
    --color-green: #66cc99;
    --color-green-dark: #3d7a5c;
    --color-orange: #FC4C02;
    --color-orange-dark: #c23a02;
    --color-orange-light: #fe834f;
    --color-white: #fff;

    --color-background-accent: var(--color-green-dark);
    --color-background-neutral: var(--color-black);
    --color-background-primary: var(--color-blue-dark);

    --color-foreground-accent: var(--color-green);
    --color-foreground-neutral: var(--color-white);
    --color-foreground-primary: var(--color-blue);

    /* font sizes */
    --smaller: 1rem;
    --small: 1.25rem;
    --medium: 1.5rem;
    --large: 2rem;
    --x-large: 2.5rem;
    --xx-large: 3rem;

    /* Internet Explorer compatibility hacks */
    --display-none: none;
    --display-block: block;
}

a
{
    color: var(--color-foreground-accent);
    text-decoration: none;
}

a:hover { text-decoration: underline; }

blockquote
{
    border-left-color: var(--color-foreground-neutral);
    border-left-style: solid;
    border-left-width: 5px;
    margin-left: 1em;
    padding-left: 2em;
}

h1 a
{
    color: var(--color-foreground-neutral);
}

h2 { font-size: var(--x-large); }

h2, h3, h4
{
    color: var(--color-foreground-primary);
}

h2 a::after, h3 a::after, h4 a::after { content:" 🔗"; }

h3 { font-size: var(--large); }

h4
{
    font-size: var(--medium);
    font-style: italic;
}

label
{
    color: var(--color-foreground-neutral);
    font-weight: bold;
}    

li
{
    color: var(--color-foreground-neutral);
    font-size: var(--medium);
}

p
{
    color: var(--color-foreground-neutral);
    font-size: var(--medium);
    padding-bottom: 1ex;
    padding-top: 1ex;
}

time
{
    font-size: var(--medium);
    font-style: italic;
}


/* archive posts list */
.archive-postlist {
  list-style: none;
  padding: 0;
}

.archive-postlist-date { color: var(--color-foreground-neutral); }

.archive-postlist-item {
  counter-increment: start-from -1;
}
.archive-postlist-item:before {
    display: inline;
    pointer-events: none;
    content: "" counter(start-from, decimal-leading-zero) ". ";
    line-height: 100%;
    text-align: right;
}

.article-time {
    color: #fff;
    color: var(--color-foreground-neutral);
    display: block;
    text-align: right;
}

.div-browser-warning
{
    background-color: #FF8C00;
    color: #000;
    display: block;
    display: var(--display-none);
    padding: 5pt;
}

.div-img-medium
{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 25rem;
}

.div-menu-wrapper { display: flex; }

.div-spacer-quarter-screen { height: 25vh; }

.div-post ul { padding-bottom: 2ex; }


/* Looking for a problem? This may well be it! This is a red herring field to
   detect spambots. MailChimp's styling was breaking my styling, so I wrote
   my own sneaky, hacky styling which will probably break other things in the
   future. */
.div-red-herring
{
    height: 2px;
    position: relative;
    width: 2px;
    z-index: -1;
}

.div-red-herring * { opacity: 0; }

.div-text-flex
{
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container
{
    background-color: #222;
    background-color: var(--color-gray-dark);
    display: flex;
    flex-direction: column;
    font-size: var(--medium);
    height: 100vh;
    overflow: auto;
}

.footer
{
    background-color: var(--color-background-primary);
    box-shadow: 0 0 15px #000; 
    box-shadow: 0 0 15px var(--color-background-neutral); 
    display: none;
    display: var(--display-block);
    z-index: 2;
}

.footer-a
{
    color: var(--color-foreground-neutral);
    display: inline-block;
    font-size: var(--medium);
    padding-right: 1rem;
}

.header
{
    background-color: var(--color-background-primary);
    box-shadow: 0 0 15px #000; 
    box-shadow: 0 0 15px var(--color-background-neutral);
    color: var(--color-foreground-neutral);
    z-index: 2;
}

.highlight { overflow-x: auto; }

.hr-spacer
{
    border-style: none;
    height: 2.5ex;
}

.h1 { font-size: var(--x-large); }

.h2-postlist
{
    display:inline;
    font-size: var(--large);
}

.icon
{
    border-radius: 50%;
    max-height: 3em;
}

.icon-menu
{
    color: var(--color-foreground-primary);
    font-size: 4rem;
    line-height: 1ex;
}

.img { max-width: 100%; }

.index-h1
{
    color: var(--color-foreground-primary);
    font-size: var(--xx-large);
    text-align: center;
}

.index-h2-subheading
{
    color: var(--color-foreground-accent);
    font-size: var(--x-large);
    padding-top: 1ex;
    text-align: center;
}

.main { flex: 1; }

.menu-content
{
    background-color: var(--color-background-neutral);
    right: 1px;
}

.nav ul { list-style: none; }

.nav-item { font-size: var(--medium); }

.nav-item-active a { color: var(--color-foreground-neutral); }

.nav-tags
{
    flex: 1;
    overflow: auto;
    padding: 5px;
    scrollbar-base-color: #000;
    scrollbar-color: #444 #000;
    scrollbar-face-color: #444;
    white-space: nowrap;
}

.nav-tags::-webkit-scrollbar
{
    background-color: #444;
}

.nav-tags::-webkit-scrollbar-thumb
{
    background-color: #444;
}

.nav-tags::-webkit-scrollbar-track-piece
{
    background-color: #000;
}

.p-browser-warning
{
    color: #000;
}

.p-browser-warning a
{
    color: #000;
    text-decoration: underline;
}

.post-tag {
  display: inline-block;
  font-size: var(--smaller);
  margin-bottom: 4px;
  margin-top: 0px;
  padding: 5pt;
  background-color: var(--color-background-accent);
  color: var(--color-foreground-neutral);
  border-radius: 0.25em; 
  text-decoration: none;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-date { color: var(--color-foreground-neutral); }

.postlist-item {
  counter-increment: start-from -1;
} 

a[href].tag,
a[href].tag:visited {
    color: var(--color-foreground-neutral);
}

.ul-posts
{
    list-style-type: none;
    padding-left: 0;
}

.ul-posts p {
    color: var(--color-foreground-neutral);
    display: inline; /* I am going to regret this. */
}

.ul-posts li { padding-bottom: 2ex; }
