<div class="flex-row">
  <div class="div-img-medium">
    <img alt="Rehumanize International at the March for Life Chicago"
         src="/img/index/mfl-chicago-2019.jpg" />
  </div>
  <div class="div-text-flex">
    <h2 class="h2">Promoting the Consistent Life Ethic in the Greater
      Chicago Metropolitan Area</h2>
    <p>The <a href="https://www.rehumanizeintl.org/the-consistent-life-ethic"
              target="_blank">Consistent Life Ethic</a>
      is the belief that every human 
      should be protected under the law and granted
      the full range of human rights from the moment that a new 
      human organism is formed to the point of their
      natural death. Adherents to the Consistent Life Ethic strive to 
      defend the lives of humans regardless of
      ability, age, criminal history, gender, immigration status, 
      nationality, race, or sexual orientation. 
    </p>
    <p>While this seems like a straightforward assertion, many forms of 
      violence are socially normalized or even
      legalized. While we are proud to live in a state free of capital 
      punishment, for example, we live in a city
      with a long history of police lawlessness, and qualified immunity has 
      essentially legalized killings by police.
      While our city government has long welcomed immigrants, ICE's looming 
      presence threatens refugees and asylum
      seekers, tearing apart our communities and denying our friends' and 
      neighbors' right to live. While we are glad
      to see the end of Roe and the era of Dobbs v. Jackson, we have seen
      Chicago become an abortion tourism hub. 
    </p>
    <p>The time is right for an organization with a consistent worldview 
      on human life and human rights, neither
      beholden to partisan interests nor divided by sectarian rhetoric. 
    </p>
  </div>
</div>
<h2>Global values, Chicago action</h2>
<p>Rehumanize Chicago aims to directly address the issues facing our city. We
  aim to be active against
  state violence by CPD and ICE and in favor of prenatal rights through
  volunteering, activism, and nonviolent direct
  action. A few of our goals:
</p>
<ul>
  <li> to raise awareness of the Consistent Life Ethic in Chicago 
    by our words and actions.</li>
  <li> to push for nonviolent policies among our local, state, and 
    national leaders by marching and writing letters.
  </li>
  <li>to work directly for peace and against violence by partnering with existing organizations to volunteer and
    raise funds for their important work.</li>
</ul>
<div>
  <img alt="Rehumanize International and the Progressive Anti-Abortion Uprising in Chicago"
       class="img"
       src="/img/index/mfl-chicago-2022.jpg" />
</div>
