<h2 class="h2">Get connected</h2>
<p>We aim to build community wherever human rights activists gather! You can
  subscribe to at-most monthly email updates, chat with us over Keybase, or
  find us across social media.
</p>
<h3>Chat with us using end-to-end encryption</h3>
<p>Keybase is secure, end-to-end encrypted messaging app owned by Zoom
  with a Slack-like user interface for dividing teamwork into channels.
</p>
<p>You can <a href="https://keybase.io/team/rehumanizechi" target="_blank">join
    the Rehumanize Chicago Keybase team</a> to chat with fellow consistent
  lifers in the region any time. Introduce yourself, share ideas for events
  and advocacy, and make friends who share your commitment to human rights.
</p>

{% include 'subscribe.html' %}

<h3>...and across social media @RehumanizeChi</h3>

<p>We're active across pretty much all mainstream social media. Facebook,
  Instagram, and Threads tend to downrank activist content, and Twitter/X has
  unfortunately started advocating against human rights, but Bluesky and
  Mastodon are two great ways to connect with us, and we're actively
  cross-posting to all.
</p>
<ul>
  <li><a href="https://bsky.app/profile/rehumanizechicago.org"
         target="_blank">Bluesky</a></li>
  <li><a href="https://www.facebook.com/rehumanizechi/"
         target="_blank">Facebook</a></li>
  <li><a href="https://www.instagram.com/rehumanizechi/"
         target="_blank">Instagram</a></li>
  <li><a href="https://mstdn.social/@RehumanizeChi"
         target="_blank">Mastodon</a></li>
  <li><a href="https://www.threads.net/@rehumanizechi"
         target="_blank">Threads</a></li>
  <li><a href="https://x.com/RehumanizeChi" target="_blank">Twitter/X</a></li>
</ul>
<p>Are we missing one? Let us know. We aim to be everywhere you are!</p>
