<footer class="footer padded">
  <a class="footer-a"
     href="/feed/feed.xml"
     rel="noopener"
     target="_blank">📡 RSS Feed</a>
  <a class="footer-a"
     href="https://bsky.app/profile/rehumanizechicago.org"
     rel="noopener"
     target="_blank">🦋 Bluesky</a>
  <a class="footer-a"
     href="https://www.facebook.com/rehumanizechi/"
     rel="noopener"
     target="_blank"> 🇫 Facebook</a>
  <a class="footer-a"
     rel="noopener"
     target="_blank"
     href="https://www.instagram.com/rehumanizechi/">📸 Instagram</a>
  <a class="footer-a"
     rel="noopener"
     target="_blank"
     href="https://mstdn.social/@RehumanizeChi">🐘 Mastodon</a>
  <a class="footer-a"
     rel="noopener"
     target="_blank"
     href="https://www.threads.net/@rehumanizechi">🧵 Threads</a>
  <a class="footer-a"
     rel="noopener"
     target="_blank"
     href="https://x.com/RehumanizeChi/">🐦 Twitter/X</a>
</footer>
