<div class="div-menu-wrapper">
  <nav class="nav-tags">
    {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}"
       class="post-tag">{{ tag }}</a>
    {% endfor %}
  </nav>
  <nav class="menu">
    <span class="icon-menu">&#9776;<!--Results in ☰--></span>
    <ul class="menu-content ul-no-bullet">
      {%- for entry in collections.all | eleventyNavigation %}
      <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
      {%- endfor %}
      <li class="nav-item">
        <a href="https://gitlab.com/rehumanizechicago/rehumanizechicago.gitlab.io"
           rel="noopener"
           target="_blank">Source</a>
      </li>                        
    </ul>
  </nav>
</div>
