<ol reversed class="postlist"
    style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
    {% for post in postslist | reverse %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
        <h2 class="h2-postlist">
            <a href="{{ post.url | url }}"
               class="postlist-link">
                {% if post.data.title %}{{ post.data.title }}
                {% else %}<code>{{ post.url }}</code>
                {% endif %}
            </a>
        </h2>
        <time class="postlist-date"
              datetime="{{ post.date | htmlDateString }}">
            {{ post.date | htmlDateString }}
        </time>
        {% for tag in post.data.tags %}
            {%- if collections.tagList.indexOf(tag) != -1 -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
            {%- endif -%}
        {% endfor %}
        {%- if post.data.page.excerpt -%}
            <p>{{ post.data.page.excerpt | toHTML | safe}}</p>
        {%- endif -%}
        <hr class="hr-spacer" />
    </li>
    {% endfor %}
</ol>
