<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://rehumanizechicago.us8.list-manage.com/subscribe/post?u=64e59a905c376b2025f193d6e&amp;id=6c21cabf57"
        method="post" id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate" target="_blank" novalidate>
    <h3>Subscribe to our newsletter</h3>
    <p>We publish an <a href="/articles/">at-most monthly newsletter</a>
      of consistent life news and events in
      the Chicago metropolitan area. Subscribe and suggest anything you think
      we should know about. We want to partner with any organization in the
      region working on human rights. 
    </p>
    <div id="mc_embed_signup_scroll">
      <p class="indicates-required">
        <span class="asterisk">*</span> indicates required
      </p>
      <div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
        <br />
	<input type="email" value="" name="EMAIL"
               class="required email" id="mce-EMAIL" />
      </div>
      <div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
        <br />
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
      </div>
      <div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
        <br />
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
      </div>
      <div id="mce-responses" class="clear foot">
	<div class="response" id="mce-error-response"
             style="display:none"></div>
	<div class="response" id="mce-success-response"
             style="display:none"></div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div class="div-red-herring" aria-hidden="true"><input type="text" name="b_64e59a905c376b2025f193d6e_6c21cabf57" tabindex="-1" value=""></div>
      <div class="optionalParent">
        <div class="clear foot">
          <input type="submit" value="Subscribe" name="subscribe"
                 id="mc-embedded-subscribe" class="button" />
          <!--
              <p class="brandingLogo"><a href="http://eepurl.com/h7usAP" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>-->
        </div>
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->

<h3>...or via RSS Feed</h3>
<p>Not crazy about giving out your email address? No problem! Subscribe to
  using an RSS reader like Feedly by copying and pasting
  <a href="/feed/feed.xml">this Rehumanize Chicago RSS feed link</a>.
</p>

