<!doctype html>
<html lang="en">
    <head>
        <link rel="icon" href="/img/icons/rehumanize-chicago.png" type="image/png" />
        <link rel="manifest" href="/manifest.json" />
        <link as="font" href="/css/fonts/DejaVuSansMono-webfont.woff"
              rel="preload" type="font/woff" />
        <link href="{{ '/css/prism-base16-monokai.dark.css' | url }}"
              rel="stylesheet" />
        <link href="/css/default.css"
              rel="stylesheet" />
        <link rel="stylesheet" href="/css/util.css" />
        <link rel="stylesheet" href="/css/menu.css" />
        <link rel="stylesheet" href="/css/site.css" />
        <link rel="stylesheet"
              href="/css/fonts/atkinson-hyperlegible/atkinson-hyperlegible.css"
              />
        <link rel="alternate"
              href="{{ metadata.feed.path | url }}"
              type="application/atom+xml"
              title="{{ metadata.title }}">
        <meta charset="utf-8">
        <meta name="theme-color" content="#01b1af" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ renderData.title or title or metadata.title }}</title>
        <meta name="Description"
              content="{{ renderData.description or description or metadata.description }}">
    </head>
    <body>
      <div class="container">
        <div class="div-browser-warning">
          <p class="p-browser-warning">Welcome! We notice you're
            using an outdated browser, which
            will result in a degraded experience on this site. Please
            consider
            <a href="https://www.mozilla.org/en-US/firefox/new/">a
              modern, fully supported browser.</a>
          </p>
        </div>
        {{ content | safe }}
      </div>
      <!-- Current page: {{ page.url | url }} -->
    </body>
</html>
