---
layout: layouts/base
templateClass: tmpl-home
---
<!--DEFAULT LAYOUT-->
<header class="flex-row header padded">
  <div class="flex-1 flex-column">
    <h1 class="h1"><a href="/">{{ metadata.title }}</a></h1>
    <p class="subtitle"> {{ metadata.description }}</p>
  </div>
</header>
{% include 'nav.html' %}
<main class="main padded">
  {{ content | safe }}
</main>

{% include 'footer.html' %}
