---
layout: layouts/home
eleventyNavigation:
key: Home
order: 100
---
{% include 'nav.html' %}
<div class="padded">
  <div class="div-spacer-quarter-screen"></div>
  <h1 class="index-h1">{{ metadata.title }}</h1>
  <h2 class="index-h2-subheading">{{ metadata.description }} </h2>
  <div class="div-spacer-quarter-screen"></div>
  {% include 'about.html' %}
  <h2>Get involved</h2>
  <p>There are plenty of opportunities to lead and volunteer with Rehumanize
    Chicago! We need <strong>issue leaders</strong>--people who are willing to
    become subject matter experts for the organization who can help us keep
    ourselves informed, connect us with other anti-violence organizations in the city, and come up with ideas for
    volunteering for particular issues.
  </p>
  <p>You might be a good issue leader if you are already connected to one or more organizations working on a
    consistent life issue in Chicago, if you closely follow news and goings-on in the city, or if you're just
    particularly passionate about an issue.
  </p>
  <p>Of course, there are plenty of opportunities to get involved outside of leadership as well!</p>
  <h3>Writers</h3>
  <p>Help Rehumanize Chicago find our voice! We need people who are willing to write about the consistent life ethic
    for <a href="/articles/">our newsletter</a>, for letters-to-the-editor,
    and for constituent letters.
  </p>
  <h3>Researchers</h3>
  <p>Have a few minutes? Help keep Rehumanize Chicago up-to-date by searching online for anything our leadership
    might be interested in. Comb EventBrite or Facebook for rallies or volunteer opportunities you think we should
    go to or forward us a local news article on consistent life issues in Chicago.
  </p>
  {% include 'connect.html' %}
</div>
{% include 'footer.html' %}
