---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h2>Tagged “{{ tag }}”</h2>

{% set postslist = collections[ tag ] %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
